body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

nav {
    background: #2A4B7C;
    padding: 1rem 2rem;
    display: flex;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h1 {
    color: #333333 ;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #2A4B7C;
    color: white;
    padding: 0.7rem 1rem;
    text-align: left;
}

td {
    padding: 0.7rem 1rem;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f0fff4;
}

.btn {
    padding: 0.4rem 0.9rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
}

.btn-green { background: #27AE60; color: white; }
.btn-yellow { background: #2980B9; color: white; }
.btn-red { background: #C0392B; color: white; }
.btn-gray { background: #5D6D7E; color: white; }

input, select, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group { margin-bottom: 1rem; }

label {
    font-weight: bold;
    color: #555;
}

.alert {
    padding: 0.8rem;
    background: #d4edda;
    color: #155724;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.acciones { display: flex; gap: 0.4rem; }

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}