{% extends 'veterinaria/base.html' %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}

<div class="top-bar">
    <h1>{{ titulo }}</h1>
    <a href="{{ url_volver }}" class="btn btn-gray">← Volver</a>
</div>

<div class="form-card">
    <form method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="error-box">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field }}

            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}

            {% if field.errors %}
                <p class="field-error">{{ field.errors.0 }}</p>
            {% endif %}
        </div>
        {% endfor %}

        <br>
        <button type="submit" class="btn btn-green">Guardar</button>
        <a href="{{ url_volver }}" class="btn btn-gray">Cancelar</a>
    </form>
</div>

{% endblock %}